* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

a:active, a:focus, a:visited {
  text-decoration: none;
}

body {
  padding-top: 2vh;
  background-color: #e955b0;
}

.num-area {
  margin-top: 3rem;
  width: 100px;
  height: 100px;
  border: 3px solid #e955b0;
  padding: 20px;
  text-align: center;
  color: #e955b0;
  font-weight: bold;
  background-color: #51e2ec;
  font-size: 3em;
  -webkit-box-shadow: 4px 4px 20px #e955b0;
          box-shadow: 4px 4px 20px #e955b0;
}

.section {
  height: 95vh;
  background-color: #51e2ec;
  padding-top: 6vh;
  max-width: 800px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #706a6f;
  -webkit-box-shadow: 4px 4px 20px #706a6f;
          box-shadow: 4px 4px 20px #706a6f;
}

.message {
  font-size: 2em;
  font-weight: bold;
  color: #706a6f;
}

.number {
  display: none;
  color: #119644;
  font-size: 30px;
}

.btn {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #e955b0;
  color: #fff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: all .5s;
  transition: all .5s;
  font-weight: bold;
}

.btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.input {
  margin-top: 3rem;
  width: 20%;
  padding: 1rem;
  border-radius: 4px;
  font-size: 2em;
  font-weight: bold;
  color: #706a6f;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.input:focus {
  -webkit-box-shadow: 4px 4px 20px #706a6f;
          box-shadow: 4px 4px 20px #706a6f;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
